.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media screen and (max-width: 1000px) {
    min-width: unset;
  }

  .title {
    margin: 10px 0;
  }

  button {
    margin-top: 1rem;
  }
}
